body {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.header__logo img {
  width: 80px;
}
.header__search {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.header__content {
  width: 300px;
}
.header__content h3 {
  font-size: large;
}
.menu {
  width: 100%;
}
.nav {
  width: 100%;
  justify-content: center;
  display: flex;
}

/*details*/
.details {
  display: flex;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.details-left {
  width: 25%;
  padding: 10px;
  /* position: fixed; */
}
.details-left div {
  border: 3px solid rgb(67, 164, 248);
  width: 100%;
  margin-bottom: 20px;
}
.details-left img {
  width: 30px;
  margin: 5px;
}
.details-left h4 {
  background-color: rgba(160, 203, 250, 0.553);
  width: 100%;
  margin: 0 0 5px 0;
  align-items: center;
}
.details-left span,
.details-left p {
  margin: 15px;
}
.details-right {
  width: 70%;
  margin: 5px;
}
.details-right .banner {
  width: 100%;
}
.details-right .banner img {
  width: 100%;
}
.title {
  width: 100%;
}
.title h2 {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 10px 6px rgba(149, 148, 149, 0.738);
}
h2 {
  color: rgb(1, 216, 216);
  width: 100%;
}
/*tour*/
.tour {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  box-shadow: 3px 3px 6px 4px rgba(149, 148, 149, 0.738);
}
.tour_img {
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.tour_img img {
  width: 350px;
  height: 350px;
}
.tour_content {
  width: 520px;
  font-size: large;
  margin-left: 20px;
}
.tour_content > div {
  width: 100px;
  background-color: rgb(40, 210, 210);
  color: rgb(255, 247, 237);
  display: flex;
  justify-content: center;
  float: right;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  font-weight: bolder;
}
.tour_content h4 {
  color: chocolate;
}
.tour_content h2 {
  margin: 0;
}
.footer {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.923);
  background-color: rgb(24, 235, 235);
  text-align: center;
  align-items: center;
  padding: 20px;
  line-height: 30px;
  font-size: large;
}
@media only screen and (max-width: 600px) {
  /* CSS áp dụng khi màn hình <= 768px */
  .header {
    width: 100%;
  }
  .header__search {
    margin: 0;
  }
  .details-left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .details-left form {
    width: 98%;
    margin: 1%;
  }
  .details-right {
    width: 96%;
    flex-wrap: wrap;
    margin: 2%;
  }
  .banner {
    width: 100%;
  }
  .banner img {
    display: flex;
  }
  .tour_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .tour_img img {
    width: 90%;
    height: 100%;
  }
  .tour_content > div {
    margin: 0 40%;
  }
  .nav {
    display: block;
  }
}
